In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
import os

In [12]:
data = pd.read_csv(f'data_sets_after_cleaning/temporal_features_5day_class.csv')

In [13]:
data.head(5)

,id,datetime,mood_5day_mean,mood_5day_std,mood_lag_1,mood_lag_2,mood_lag_3,day_of_week,time_of_day,is_weekend,target_mood,mood_class
0,1,2014-02-26 21:00:00,6.250000,0.500000,6.0,6.0,6.0,3,3,0,6.0,1
1,1,2014-02-27 09:00:00,6.200000,0.447214,7.0,6.0,6.0,4,1,0,6.0,1
2,1,2014-02-27 12:00:00,6.166667,0.408248,6.0,7.0,6.0,4,2,0,7.0,1
3,1,2014-02-27 15:00:00,6.285714,0.487950,6.0,6.0,7.0,4,2,0,6.0,1
4,1,2014-03-21 11:00:00,6.000000,0.000000,6.0,7.0,6.0,5,1,0,7.0,1